<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] PREGUNTADORT </title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="shortcut icon" href="~/img/Logo.png">
    </head>
    <body>
    <header>
        <nav>
            <div class="logo">
                <a href='@Url.Action("Index")'><img src="/img/PreguntadORT.png" width="70px" height="auto"></a> 
            </div>
            <ul>
                <li><a class="inicio__boton" href='@Url.Action("ConfigurarJuego")'>¡JUGAR YA!</a></li>
            </ul>
        </nav>
    </header>
    
    <div style="padding:20px 10px 0px 10px;">
        @RenderBody()
    </div>


        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
