<link rel="stylesheet" href="/css/indexStyle.css">


<body>
    <section class="sala">
        <div class="titulo">
            <h2 class="texto-degradado">PREGUNTADORT</h2>
        </div>
    </section>
</body>